In [4]:
#61518407 李浩瑞
#2019湖北文科 655~542段 一分一段统计json
import pandas as pd
import json
def excel_to_json(path):
    '''
    本函数可将指定excel转为json格式并返回
    变量说明：
    path: Excel文件路径
    Wenke_dict:文科一分一段统计json
    '''
    xlsx_file = path
    fulldata = pd.read_excel(xlsx_file)#将数据读取为dataframe格式
    temp=dict()#中间变量记录一分一段
    for i in range(len(fulldata)):
        temp[str(fulldata.loc[i][0])]=float(fulldata.loc[i][1])
    Wenke_dict={"2019":{"湖北":{"文科":temp}}}
    return Wenke_dict

if __name__ == '__main__':
    Wenke_dict=excel_to_json("Hubei_W_1.xlsx")#由于提供数据为图片格式，故手工记录了一分一段统计Excel
    with open('61518407李浩瑞-排名.json', 'w') as f:
        json.dump(Wenke_dict, f,indent=4,ensure_ascii=False)#四行缩进，保证中文编码
    print("Successfully save 61518407李浩瑞-排名.json")

Successfully save 61518407李浩瑞-排名.json

In [3]:
'''加载数据集'''
#pandas模型中的read_excel方法读取excel的xlsx数据
import pandas as pd
xlsx_file = "Hubei_W_1.xlsx"

"""
# read_excel方法读取文件
xlsx_feature = pd.read_excel(xlsx_file, usecols=[1, 2, 3, 4, 5, 6, 7]) #usecols属性读取excel文件中的指定列，列号从0起始；skiprows属性跳过excel文件中指定行，行号从0起始
xlsx_target = pd.read_excel(xlsx_file, usecols=[8])
#通过pd.DataFrame将excel文件转化为DataFrame类型，多此一举
feature = pd.DataFrame(xlsx_feature)
target = pd.DataFrame(xlsx_target)
# print(type(feature))
# print(feature)
# print(type(target))
# print(target)
"""
# read_excel方法返回类型为DataFrame，不需要再次转换
full = pd.read_excel(xlsx_file)
# print(type(feature))
# print(type(target))
# print(feature)
# print(target)

In [28]:
full

      分数   累计人数
0    655     16
1    654     18
2    653     18
3    652     21
4    651     21
..   ...    ...
109  546  10899
110  545  11151
111  544  11398
112  543  11674
113  542  11943

[114 rows x 2 columns]

In [29]:
len(full)

114

In [24]:
(full.loc[0][0])

655

In [26]:
W_dict={"2019":{"湖北":{"文科":"temp"}}}

In [27]:
print(W_dict)

{'2019': {'湖北': {'文科': 'temp'}}}

In [41]:
#https://jingyan.baidu.com/article/9158e0006093daa2541228a7.html 增加键值对
temp=dict()
for i in range(len(full)):
    temp[str(full.loc[i][0])]=float(full.loc[i][1])

In [42]:
print(temp)

{'655': 16.0, '654': 18.0, '653': 18.0, '652': 21.0, '651': 21.0, '650': 27.0, '649': 32.0, '648': 34.0, '647': 38.0, '646': 41.0, '645': 50.0, '644': 58.0, '643': 65.0, '642': 74.0, '641': 85.0, '640': 98.0, '639': 101.0, '638': 115.0, '637': 124.0, '636': 135.0, '635': 155.0, '634': 166.0, '633': 178.0, '632': 189.0, '631': 209.0, '630': 225.0, '629': 243.0, '628': 268.0, '627': 290.0, '626': 307.0, '625': 326.0, '624': 348.0, '623': 378.0, '622': 397.0, '621': 430.0, '620': 460.0, '619': 496.0, '618': 541.0, '617': 583.0, '616': 627.0, '615': 664.0, '614': 700.0, '613': 750.0, '612': 801.0, '611': 843.0, '610': 905.0, '609': 960.0, '608': 1012.0, '607': 1059.0, '606': 1130.0, '605': 1200.0, '604': 1260.0, '603': 1318.0, '602': 1391.0, '601': 1472.0, '600': 1560.0, '599': 1641.0, '598': 1728.0, '597': 1808.0, '596': 1912.0, '595': 2000.0, '594': 2100.0, '593': 2188.0, '592': 2282.0, '591': 2375.0, '590': 2485.0, '589': 2596.0, '588': 2720.0, '587': 2835.0, '586': 2979.0, '585': 3098.0, '584': 3234.0, '583': 3351.0, '582': 3497.0, '581': 3641.0, '580': 3755.0, '579': 3911.0, '578': 4059.0, '577': 4220.0, '576': 4399.0, '575': 4564.0, '574': 4729.0, '573': 4898.0, '572': 5074.0, '571': 5228.0, '570': 5431.0, '569': 5637.0, '568': 5836.0, '567': 6059.0, '566': 6264.0, '565': 6486.0, '564': 6687.0, '563': 6897.0, '562': 7116.0, '561': 7360.0, '560': 7548.0, '559': 7761.0, '558': 7988.0, '557': 8234.0, '556': 8448.0, '555': 8672.0, '554': 8920.0, '553': 9153.0, '552': 9423.0, '551': 9653.0, '550': 9903.0, '549': 10144.0, '548': 10405.0, '547': 10661.0, '546': 10899.0, '545': 11151.0, '544': 11398.0, '543': 11674.0, '542': 11943.0}

In [43]:
W_dict={"2019":{"湖北":{"文科":temp}}}

In [44]:
print(W_dict)

{'2019': {'湖北': {'文科': {'655': 16.0, '654': 18.0, '653': 18.0, '652': 21.0, '651': 21.0, '650': 27.0, '649': 32.0, '648': 34.0, '647': 38.0, '646': 41.0, '645': 50.0, '644': 58.0, '643': 65.0, '642': 74.0, '641': 85.0, '640': 98.0, '639': 101.0, '638': 115.0, '637': 124.0, '636': 135.0, '635': 155.0, '634': 166.0, '633': 178.0, '632': 189.0, '631': 209.0, '630': 225.0, '629': 243.0, '628': 268.0, '627': 290.0, '626': 307.0, '625': 326.0, '624': 348.0, '623': 378.0, '622': 397.0, '621': 430.0, '620': 460.0, '619': 496.0, '618': 541.0, '617': 583.0, '616': 627.0, '615': 664.0, '614': 700.0, '613': 750.0, '612': 801.0, '611': 843.0, '610': 905.0, '609': 960.0, '608': 1012.0, '607': 1059.0, '606': 1130.0, '605': 1200.0, '604': 1260.0, '603': 1318.0, '602': 1391.0, '601': 1472.0, '600': 1560.0, '599': 1641.0, '598': 1728.0, '597': 1808.0, '596': 1912.0, '595': 2000.0, '594': 2100.0, '593': 2188.0, '592': 2282.0, '591': 2375.0, '590': 2485.0, '589': 2596.0, '588': 2720.0, '587': 2835.0, '586': 2979.0, '585': 3098.0, '584': 3234.0, '583': 3351.0, '582': 3497.0, '581': 3641.0, '580': 3755.0, '579': 3911.0, '578': 4059.0, '577': 4220.0, '576': 4399.0, '575': 4564.0, '574': 4729.0, '573': 4898.0, '572': 5074.0, '571': 5228.0, '570': 5431.0, '569': 5637.0, '568': 5836.0, '567': 6059.0, '566': 6264.0, '565': 6486.0, '564': 6687.0, '563': 6897.0, '562': 7116.0, '561': 7360.0, '560': 7548.0, '559': 7761.0, '558': 7988.0, '557': 8234.0, '556': 8448.0, '555': 8672.0, '554': 8920.0, '553': 9153.0, '552': 9423.0, '551': 9653.0, '550': 9903.0, '549': 10144.0, '548': 10405.0, '547': 10661.0, '546': 10899.0, '545': 11151.0, '544': 11398.0, '543': 11674.0, '542': 11943.0}}}}

In [45]:
import json

In [58]:
with open('data.json', 'w') as f:
    json.dump(W_dict, f,indent=4,ensure_ascii=False)#四行缩进，保证中文编码

In [6]:
def to_json2(df,orient='split'):
    df_json = df.to_json(orient = orient, force_ascii = False)
    return json.loads(df_json)

In [7]:
after_to_json = pd.DataFrame(full)

In [8]:
after_to_json

      分数   累计人数
0    655     16
1    654     18
2    653     18
3    652     21
4    651     21
..   ...    ...
109  546  10899
110  545  11151
111  544  11398
112  543  11674
113  542  11943

[114 rows x 2 columns]

In [10]:
count=0
for i in after_to_json['分数']:
    print(i)
    count+=1
    if count>10:
        break

分数
累计人数